.open {
	float: left; 
	height: 5em; 
	width: 5em; 
	background-color: #9dcece; 
	margin: 1.5em; 
	text-align: center; 
	padding: 2em; 
}

.hidden {
	float: left; 
	height: 5em; 
	width: 5em; 
	background-color: #8080c0; 
	margin: 1.5em; 
	text-align: center; 
	padding: 2em; 
}

.hidden h3 {
	color: #8080c0;
}



.taken {
	float: left; 
	height: 5em; 
	width: 5em; 
	background-color: #fff; 
	margin: 1.5em; 
	text-align: center; 
	padding: 2em; 
	color: #fff
}

.cardtaken h3 {
	color: #fff;
}


.namen {
	
}