html {
	text-align: center;
	overflow-y: scroll;
	overflow-x: hidden;
}

body {
	background-color: #EFE3C0;

}
canvas {
	border: 5px dotted;
	border-color: #c53a5e;
	max-width: 90%;
	margin: 5%;
	margin-top: 0em;
	}
