html {
	text-align: center;
	overflow-y: scroll;
	overflow-x: hidden;

}

body {
	background-color: #f2dfae;

}
canvas {
	border: 5px dotted;
	border-color: #c53a5e;
}


/*	width: 100%;
	margin: 0;
	
	
		margin-left: 25%;
	max-width: 50%;
	*/